graft palworld_server_toolkit/PalEdit/resources
prune palworld_server_toolkit/resources/items
prune palworld_server_toolkit/resources/pal_category
prune palworld_server_toolkit/resources/pal_inventory